<%- if controller_name != 'sessions' %>
  <p class = "mt-2">既に登録済みの方は</br>
  <%= link_to "こちら", "/users/sign_in" %> からログインしてください。</p>
<% end %>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
    <p class = "mt-2">会員登録がお済みでない方は</br>
    <%= link_to "こちら", "/users/sign_up" %> から新規登録を行なってください。 </p>
<% end %>

