<div class='container px-5 px-sm-0'>
  <%#= render 'layouts/errors', obj: @post_location %>
  <div class='row'>
    <div class='col-11 offset-1'>
      <h2>投稿画面</h2>
      <%= render 'form', post_location: @post_location %>
    </div>
  </div>
</div>
