<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-11 offset-1'>
      <h4>投稿一覧</h4>
      <div class=row>
        <%= render 'index', post_locations: @post_locations %>
      </div>
    </div>
  </div>
</div>
