<div class='container px-5 px-sm-0'>
  <%#= render 'layouts/errors', obj: @post_location %>
  <div class='row'>
    <div class='col-md-3'>
      <h2 class="mt-3">New Post location</h2>
      <%= render 'form', post_location: @post_location %>
    </div>
    <div class='col-md-8 offset-md-1'>
      <h2>Post locations</h2>
      <%= render 'index', post_locations: @post_locations %>
    </div>
  </div>
</div>
