<div class="container">
  <div class="row">
    <div class="col-10 offset-1">
      <h5 class="my-5">対象年齢編集</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-10 offset-2 ">
      <%= form_with model: @target_age, url: admin_target_age_path, local: true do |f| %>
        <%= f.label :対象年齢名, class: "mt-4" %>
        <%= f.text_field :target, class: "offset-1 mt-4" %>
        <%= f.submit "変更を保存", class: "btn btn-success offset-1 my-2" %>
      <% end %>
    </div>
  </div>
</div>