<div class='container px-5 px-sm-0'>
  <%#= render 'layouts/errors', obj: @post_location %>
  <div class='row'>
    <div class='col-11 offset-1'>
      <h2>投稿管理画面</h2>
      <%= render 'form', post_location: @post_location %>
  		<%= link_to 'Show', @post_location, class: "post_location_#{@post_location.id}" %> |
  		<%= link_to 'Back', post_locations_path, class: "back" %>
    </div>
  </div>
</div>