<div class='container'>
  <h4>投稿一覧</h4>
  	<div class="row  d-inline-flex">
      <% @post_locations.each do |post_location| %>
      <div class="col mt-3" >
            <%= link_to admin_post_location_path(post_location.id) do %>
              <%= image_tag post_location.post_image, class:"index_image"; %>
            <% end %>
          <div class="col mt-1">
            <span>コメント: <%= post_location.post_comments.count %> | </span>
            <span><i class="fas fa-heart"></i><%= post_location.favorites.count %></span>
          </div>
      </div>
    <% end %>
  </div>
</div>
