/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url('https://fonts.googleapis.com/css2?family=Square+Peg&family=Ubuntu&family=Yomogi&family=Zen+Kurenaido&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Square+Peg&family=Ubuntu&family=Yomogi&display=swap');

header{
  font-family: 'Yomogi', cursive;

}

.font{
  font-family: 'Yomogi', cursive;

}


body{
    min-height: 100vh;/*←最小高さ100％*/
    position: relative;/*←相対位置*/
    padding-bottom: 120px;/*←footerの高さ*/
    box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
    width: 100%;
    background-image: image-url('Whiteday2020-12-2.jpg');
    background-size:cover;
    background-position: center;

}

footer{
    width: 100%;
    position: absolute;/*←絶対位置*/
    bottom: 0; /*下に固定*/
    // font-family: "Ubuntu", sans-serif;
    font-family: 'Yomogi', cursive;

}

.index_image{
  // desplay: block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.show_image{
  width: 500px;
  height: 300px;
  object-fit: cover;
}

.info_profile_image{
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.index_profile_image{
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.favorite_link{
    text-decoration: none;
    color: #e54747 !important;
}

.nav-item{
  font_size: 3rem;
}

