<div class='container'>
  <h2 class="my-4">会員一覧</h2>
  	<div class="row d-inline-flex text-center">
      <% @users.each do |user| %>
        <div class="col mt-3" >
            <%= link_to admin_user_path(user.id) do%>
              <%= image_tag user.get_profile_image, class:"info_profile_image rounded-circle"; %>
              <p><%= user.name %></p>
            <% end %>
        </div>
      <% end %>
    </div>

    <div class="row">
      <div class="mx-auto mt-3">
        <%= paginate @users %>
      </div>
    </div>
</div>

