<div class='container d-inline-flex'>
    <div class='col-5 justify-content-center'>
      <h4>会員情報</h4>
        <%= render 'info', user: @user, favorites: @favorites %>
    </div>
    <div class='col-7 ml-5 justify-content-center'>
      <h4><%= @user.name %> さんの　投稿一覧</h4>
        <%= render 'public/post_locations/index', post_locations: @post_locations %>
    </div>
</div>
